/* Hex for Background and Words color
Cyber Grape = 49306B 
Light pink = DDC4DD
Palid Violet = DCCFEC
Clear Violet = A997DF

For the cards
// Green 
Aquamarine = 90FFDC X
Ligth Green = 87CBAC
Pistachio = 99D17B
//Yellow
Middle Green Yellow = CBD081
//Blue
Metalic Seaweed (Middle Blue) = 1D8A99

Color for the Hearts
//Red
Tyrian Purple= 501537
Amarathan Pink = F49CBB
Chinese Red = B02E0C
*/

/* Font-Styles
For the Cards:
**font-family: 'Fredoka', sans-serif
**font-family: 'Hubballi', cursive

For the last gift
**font-family: 'Inspiration', cursive;

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Hubballi&family=Inspiration&display=swap" rel="stylesheet">
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow: hidden;
  background-color: #c3a9e4;
}

.marcoSup img {
  width: 50vw;
  height: 50vh;
  margin: 10px 10px;
}
.marcoInf {
  width: 50vw;
  height: 50vh;
  position: absolute;
  right: 10px;
  bottom: 5vh;
}

.heading1 {
  display: flex;
  font-size: 65px;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 0vh;
  margin-top: -50px;
  font-family: "Amatic SC", cursive;
}

.span1 {
  color: transparent;
  font-size: larger;
  line-height: 100px;
  -webkit-text-stroke: 2px #e744e7;
  background: url(../Images/h1fondo.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: fondo 20s linear infinite;
}

@keyframes fondo {
  100% {
    background-position: 2000px 0;
  }
}

.mlink1 {
  position: relative;
  top: 30%;
  left: 43%;
  margin-top: 150px;
  width: 160px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.flink {
  text-decoration: none;
  position: relative;
  top: 30%;
  left: 40.5%;
  margin-top: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #e744e7;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: "Fredoka", sans-serif;
}

.flink::after {
  content: "";
  width: 0;
  height: 3px;
  background: #49306b;
  position: absolute;
  bottom: -5px;
  left: 42%;
  transform: translateX(-40%);
  transition: width 0.3s;
}

.flink:hover::after {
  width: 70%;
}

.ballons img {
  width: 50px;
  animation: ballon 7s linear infinite;
}

.ballons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -150px;
}

@keyframes ballon {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translateY(-90vh);
    opacity: 0;
  }
}

.ballons img:nth-child(1) {
  animation-delay: 3s;
}
.ballons img:nth-child(2) {
  animation-delay: 1s;
}
.ballons img:nth-child(3) {
  animation-delay: 3s;
}
.ballons img:nth-child(4) {
  animation-delay: 4.5s;
}
.ballons img:nth-child(5) {
  animation-delay: 2.5s;
}
.ballons img:nth-child(6) {
  animation-delay: 6s;
}
.ballons img:nth-child(7) {
  animation-delay: 0.5s;
}
.ballons img:nth-child(8) {
  animation-delay: 6s;
}

.fireworks {
  position: absolute;
  z-index: -2;
}

.explosion {
  position: absolute;
  width: 4px;
  height: 60px;
  background-color: #c3a9e4;
  transform-origin: 50% 100%;
  overflow: hidden;
}

.explosion:nth-child(1) {
  transform: rotate(0deg) translateY(-10px);
}
.explosion:nth-child(2) {
  transform: rotate(30deg) translateY(-8px);
}
.explosion:nth-child(3) {
  transform: rotate(60deg) translateY(-8px);
}
.explosion:nth-child(4) {
  transform: rotate(90deg) translateY(-8px);
}
.explosion:nth-child(5) {
  transform: rotate(120deg) translateY(-8px);
}
.explosion:nth-child(6) {
  transform: rotate(150deg) translateY(-8px);
}
.explosion:nth-child(7) {
  transform: rotate(180deg) translateY(-8px);
}
.explosion:nth-child(8) {
  transform: rotate(210deg) translateY(-8px);
}
.explosion:nth-child(9) {
  transform: rotate(240deg) translateY(-8px);
}
.explosion:nth-child(10) {
  transform: rotate(270deg) translateY(-8px);
}
.explosion:nth-child(11) {
  transform: rotate(300deg) translateY(-8px);
}
.explosion:nth-child(12) {
  transform: rotate(330deg) translateY(-8px);
}

.explosion::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 30px;
  background-color: rgb(221, 211, 63);
}

@keyframes explosion {
  0% {
    top: 100%;
  }
  33%,
  100% {
    top: -50%;
  }
}

#firework1 {
  transform: scale(0.6);
  top: 20%;
  left: 15%;
}
#firework1 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 5s;
}

#firework2 {
  top: 10%;
  left: 45%;
  transform: scale(1);
}
#firework2 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 6.5s;
}

#firework3 {
  top: 55%;
  left: 80%;
  transform: scale(1.3);
}
#firework3 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 5.5s;
}

#firework4 {
  top: 10%;
  left: 85%;
  transform: scale(0.8);
}
#firework4 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 6.8s;
}

#firework5 {
  top: 70%;
  left: 13%;
  transform: scale(1.2);
}
#firework5 .explosion::before {
  animation: explosion 2s ease-in-out infinite;
  animation-delay: 6s;
}
